.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background: url('../images/bg.png') fixed repeat;
  color: #fff;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #fff;
  background: #610d0d;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 100px;
  padding-bottom: 19px;
  font-size: 25pt;
  font-family: initial;
  text-align: center;
  letter-spacing: 1px;
}

/* Custom page footer */

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 100%;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

#myCanvas {
  width: 100%;
  height: 680px;
  border: 1px solid #000;
  background: #fff
}

ul li:hover {
  cursor: pointer;
}

.footer {
  padding-top: 19px;
  border-top: 1px solid #fff;
  background: #610d0d;
}

.footer h4 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 20px;
  padding-bottom: 19px;
  font-size: 11pt;
  font-family: initial;
  text-align: center;
  letter-spacing: 1px;
}

.container {
  width: 90%;
  padding: 0px;
}

.myContainer {
  background: #f1dddd;
  padding: 15px;
  border-right: 1px solid #610d0d;
  border-left: 1px solid #610d0d;
}

ul {
  display: flex;
  color: #610d0d;
  letter-spacing: 1px;
  font-family: cursive;
  font-size: 12pt;
  margin: 20px;

}

ul li {
  list-style: none;
  margin-left: 15%;
}

ul li:hover {
  text-decoration: overline;
}